<div class="container">
  <h1 class="mb-5"><%= @vacancy.title %></h1>

  <table class="table">
    <thead class="table-active">
      <th>Nome</th>
      <th class="text-center">Enviado em</th>
      <th class="text-center">Ações</th>
    </thead>
    <tbody>
      <% @applicants.each do |applicant| %>
      <tr>
        <td class="align-middle"><%= applicant.name %></td>
        <td class="align-middle text-center"><%= applicant.created_at.strftime('%d/%m/%Y') %></td>
        <td class="d-flex justify-content-center">
          <a class="text-end" href='<%=rails_blob_path(applicant.curriculum) if applicant.curriculum.attached? %>'>
          <i class="gg-arrow-down-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>